.homemade
{background-color: black;
color:whitesmoke;
padding: 15px;
margin: 10px;}

#eatout
{background-color: black;
color: whitesmoke;
padding: 25px;}

#eatin
{background-color: black;
    color: whitesmoke;
    padding: 25px;}

    *{background-color:bisque ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

    #eatup
    {background-color: black;
        color: whitesmoke;
        padding: 25px;}